In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
#grab a webpage
import webbrowser
website = "https://en.wikipedia.org/wiki/NFL_win%E2%80%93loss_records"
webbrowser.open(website)

True

In [4]:
#copy and read data from a clipboard
#you copy from a website some section and pandas has a bulit in function
nflFrame = pd.read_clipboard()

In [5]:
nflFrame
# dataframe is like spreadsheet 0 - 5 is the index made by pandas

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,Eas

In [6]:
#column names
nflFrame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.', u'First', u'NFL',
       u'Season', u'Total', u'Games', u'Division'],
      dtype='object')

In [7]:
#call the column name series with values in that column
#nflFrame['First Season'] # for calling the column name with more than one word
nflFrame.Rank

0    1
1    2
2    3
3    4
4    5
Name: Rank, dtype: int64

In [10]:
#grab multiple columns
DataFrame(nflFrame,columns = ['Team','Won','Lost'])

      Team       Won      Lost
0  Chicago     Bears       741
1   Dallas   Cowboys       480
2    Green       Bay   Packers
3    Miami  Dolphins       429
4      New   England  Patriots

In [11]:
DataFrame(nflFrame,columns = ['Team','Won','Lost','Stadium'])
# if a column does not exist

      Team       Won      Lost  Stadium
0  Chicago     Bears       741      NaN
1   Dallas   Cowboys       480      NaN
2    Green       Bay   Packers      NaN
3    Miami  Dolphins       429      NaN
4      New   England  Patriots      NaN

In [12]:
#Retrieve rows of a dataFrame
nflFrame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,Eas

In [13]:
#first few rows, head is 5 
nflFrame.head(3)

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North

In [14]:
#tail
nflFrame.tail()

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,Eas

In [15]:
# retreive row on particular index, getting 4th row with putting 3
nflFrame.ix[3]

Rank               4
Team           Miami
Won         Dolphins
Lost             429
Tied             335
Pct.               4
First          0.561
NFL             1966
Season           768
Total            AFC
Games           East
Division         NaN
Name: 3, dtype: object

In [16]:
# assign values to entire columns
nflFrame['Stadium'] = "Levi's Stadium"

In [17]:
nflFrame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,Levi's Stadium
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,Levi's Stadium
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,Levi's Stadium
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,Levi's Stadium
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,Eas,Levi's Stadium

In [19]:
nflFrame['Stadium'] = np.arange(5)

In [20]:
nflFrame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,0
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,1
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,2
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,3
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,Eas,4

In [23]:
# add a series to datFrame
stadiums = Series(["Levis's Stadium","AT&T Stadium"],index=(4,0))

In [24]:
stadiums

4    Levis's Stadium
0       AT&T Stadium
dtype: object

In [25]:
#input into the dataframe
nflFrame['Stadium'] = stadiums
nflFrame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,AT&T Stadium
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,NaN
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,Eas,Levis's Stadium

In [26]:
# delete an entire column
del nflFrame['Stadium']
nflFrame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,Eas

In [27]:
# making datFrame after passing dictionary
data = {'City':['SF','LA','NYC'],'Population':[837000,3888000,840000]}

In [28]:
cityFrame = DataFrame(data)

In [29]:
cityFrame

  City  Population
0   SF      837000
1   LA     3888000
2  NYC      840000

In [30]:
#for more information
website ="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html"
webbrowser.open(website)

True