In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
ser1 = Series(np.arange(3),index = ['a','b','c'])
ser1

a    0
b    1
c    2
dtype: int32

In [3]:
#drop an index and the index label
ser1.drop('b')

a    0
c    2
dtype: int32

In [5]:
dFrame1 = DataFrame(np.arange(9).reshape((3,3)),index =['SF','LA','NY'],
                    columns=['pop','size','year'])
dFrame1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [6]:
dFrame1.drop('LA') # drop a row and it is not permanently

    pop  size  year
SF    0     1     2
NY    6     7     8

In [7]:
# to make a drop permanent save it as another dataFrame
dFrame2 = dFrame1.drop('LA')
dFrame2

    pop  size  year
SF    0     1     2
NY    6     7     8

In [8]:
dFrame1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [9]:
#drop a column have to specify the axis , it is axis 1 for column 
# and default is axis0 for the rows
dFrame1.drop('year',axis =1)

    pop  size
SF    0     1
LA    3     4
NY    6     7