In [1]:
import numpy as np
import pandas as pd
from pandas import Series ,DataFrame

In [2]:
dFrame = DataFrame({'k1':['X','X','Y','Y','Z'],
                   'k2':['alpha','beta','alpha','beta','alpha'],
                   'dataSet1':np.random.randn(5),
                   'dataSet2':np.random.randn(5)})
dFrame

   dataSet1  dataSet2 k1     k2
0  0.965842  0.251360  X  alpha
1 -1.037617 -0.907746  X   beta
2 -0.858251  0.108195  Y  alpha
3 -0.583836  0.534411  Y   beta
4  0.556730  0.414527  Z  alpha

In [4]:
#series group by object
#dataset 1 with group by k1
group1 = dFrame['dataSet1'].groupby(dFrame['k1'])

In [5]:
group1

In [6]:
#mean
group1.mean()

k1
X   -0.035888
Y   -0.721044
Z    0.556730
Name: dataSet1, dtype: float64

In [7]:
cities = np.array(['NY','LA','LA','NY','NY'])
month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [8]:
dFrame['dataSet1'].groupby([cities,month]).mean()

LA  FEB   -1.037617
    JAN   -0.858251
NY  FEB   -0.583836
    JAN    0.761286
Name: dataSet1, dtype: float64

In [9]:
dFrame

   dataSet1  dataSet2 k1     k2
0  0.965842  0.251360  X  alpha
1 -1.037617 -0.907746  X   beta
2 -0.858251  0.108195  Y  alpha
3 -0.583836  0.534411  Y   beta
4  0.556730  0.414527  Z  alpha

In [10]:
#pass column name as group keys
#z does not change while x and y are averages
dFrame.groupby('k1').mean()

    dataSet1  dataSet2
k1
X  -0.035888 -0.328193
Y  -0.721044  0.321303
Z   0.556730  0.414527

In [11]:
#mean on multiple columns
dFrame.groupby(['k1','k2']).mean()

          dataSet1  dataSet2
k1 k2
X  alpha  0.965842  0.251360
   beta  -1.037617 -0.907746
Y  alpha -0.858251  0.108195
   beta  -0.583836  0.534411
Z  alpha  0.556730  0.414527

In [12]:
#get sizes or count 
dFrame.groupby(['k1']).size()

k1
X    2
Y    2
Z    1
dtype: int64

In [14]:
#iterate over groups
for name,group in dFrame.groupby('k1'):
    print "This is the %s group" %name
    print group
    print '\n'

This is the X group
   dataSet1  dataSet2 k1     k2
0  0.965842  0.251360  X  alpha
1 -1.037617 -0.907746  X   beta


This is the Y group
   dataSet1  dataSet2 k1     k2
2 -0.858251  0.108195  Y  alpha
3 -0.583836  0.534411  Y   beta


This is the Z group
   dataSet1  dataSet2 k1     k2
4   0.55673  0.414527  Z  alpha

In [17]:
#iterating over multiple keys
for (k1,k2), group in dFrame.groupby(['k1','k2']):
    print "Key1 = %s Key2 = %s" %(k1,k2)
    print group
    print '\n'

Key1 = X Key2 = alpha
   dataSet1  dataSet2 k1     k2
0  0.965842   0.25136  X  alpha


Key1 = X Key2 = beta
   dataSet1  dataSet2 k1    k2
1 -1.037617 -0.907746  X  beta


Key1 = Y Key2 = alpha
   dataSet1  dataSet2 k1     k2
2 -0.858251  0.108195  Y  alpha


Key1 = Y Key2 = beta
   dataSet1  dataSet2 k1    k2
3 -0.583836  0.534411  Y  beta


Key1 = Z Key2 = alpha
   dataSet1  dataSet2 k1     k2
4   0.55673  0.414527  Z  alpha

In [19]:
#useful tactic is to make a dictionary
groupDict = dict(list(dFrame.groupby('k1')))

In [21]:
groupDict['X']

   dataSet1  dataSet2 k1     k2
0  0.965842  0.251360  X  alpha
1 -1.037617 -0.907746  X   beta

In [22]:
#separated by the type of data along axis = 1
groupDictAxis1 = dict(list(dFrame.groupby(dFrame.dtypes,axis =1)))
groupDictAxis1

{dtype('float64'):    dataSet1  dataSet2
 0  0.965842  0.251360
 1 -1.037617 -0.907746
 2 -0.858251  0.108195
 3 -0.583836  0.534411
 4  0.556730  0.414527, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [23]:
dataset2Group = dFrame.groupby(['k1','k2'])[['dataSet2']]
dataset2Group.mean()

          dataSet2
k1 k2
X  alpha  0.251360
   beta  -0.907746
Y  alpha  0.108195
   beta   0.534411
Z  alpha  0.414527