In [2]:
#index of an index
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn

In [4]:
#pandas allows index at multiple levels
# pandas multiple index level by assigning one to the other so first three to 1 index
ser = Series(randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])
ser

1  a    0.741416
   b    1.990952
   c   -0.296195
2  a   -0.543978
   b    2.185616
   c   -0.945850
dtype: float64

In [5]:
#check multiples level
ser.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
#check a particular subset
ser[1]

a    0.741416
b    1.990952
c   -0.296195
dtype: float64

In [7]:
#call second index
ser[2]

a   -0.543978
b    2.185616
c   -0.945850
dtype: float64

In [8]:
#call an internal index level
ser

1  a    0.741416
   b    1.990952
   c   -0.296195
2  a   -0.543978
   b    2.185616
   c   -0.945850
dtype: float64

In [9]:
#: colon for everything in the higher(outer) index level and 'a' for the internal index level
ser[:,'a']
#returns values for 'a'

1    0.741416
2   -0.543978
dtype: float64

In [10]:
#create data frame
dFrame = ser.unstack()

In [11]:
#construct data frame from index levels
#inner index level are the columns and outer is the rows
dFrame

          a         b         c
1  0.741416  1.990952 -0.296195
2 -0.543978  2.185616 -0.945850

In [13]:
#construct a data frame on multiple levels
#the second list is matched to the first list as index
#columns have the same idea
dFrame2 = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],
                   columns =[['NY','NY','LA','SF'],['cold','hot','cold','hot']])
dFrame2

      NY       LA  SF
    cold hot cold hot
a 1    0   1    2   3
  2    4   5    6   7
b 1    8   9   10  11
  2   12  13   14  15

In [16]:
#keep better track name them
dFrame2.index.names = ['INDEX_1','INDEX_2']
dFrame2.columns.names = ['Cities','Temperature']

In [17]:
dFrame2

Cities            NY       LA  SF
Temperature     cold hot cold hot
INDEX_1 INDEX_2
a       1          0   1    2   3
        2          4   5    6   7
b       1          8   9   10  11
        2         12  13   14  15

In [18]:
#interchange the order of the levels
#e.g. cities with temperature and columns hence axis = 1
dFrame2.swaplevel('Cities','Temperature',axis = 1)

Temperature     cold hot cold hot
Cities            NY  NY   LA  SF
INDEX_1 INDEX_2
a       1          0   1    2   3
        2          4   5    6   7
b       1          8   9   10  11
        2         12  13   14  15

In [21]:
#sort levels
# 1 is for the sub level. 1 in the inner index
dFrame2.sortlevel(1)

Cities            NY       LA  SF
Temperature     cold hot cold hot
INDEX_1 INDEX_2
a       1          0   1    2   3
b       1          8   9   10  11
a       2          4   5    6   7
b       2         12  13   14  15

In [22]:
#perform operations on particular level e.g. temperature and column
dFrame2.sum(level = 'Temperature',axis =1)

Temperature      cold  hot
INDEX_1 INDEX_2
a       1           2    4
        2          10   12
b       1          18   20
        2          26   28