In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
#mapping is a way to add columns
dFrame = DataFrame({'city':['Alma','Brian Head','Fox Park'],
                   'altitude':{3158,3000,2762}})
dFrame

             altitude        city
0  {3000, 2762, 3158}        Alma
1  {3000, 2762, 3158}  Brian Head
2  {3000, 2762, 3158}    Fox Park

In [3]:
#add a column for each state for every city
stateMap = {'Alma': 'Colarado','Brian Head':'Utah','Fox Park':'Wyoming'}

In [5]:
dFrame['state'] = dFrame['city'].map(stateMap)

In [6]:
dFrame

             altitude        city     state
0  {3000, 2762, 3158}        Alma  Colarado
1  {3000, 2762, 3158}  Brian Head      Utah
2  {3000, 2762, 3158}    Fox Park   Wyoming

In [ ]:
#map for element wise clearing and add columns