In [1]:
# linking data in columns
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
# for dictionary you set up the column name and the values
dFrame1 = DataFrame({'key': ['X','Z','Y','Z','X','X'],'dataSet1':np.arange(6)})
dFrame1

   dataSet1 key
0         0   X
1         1   Z
2         2   Y
3         3   Z
4         4   X
5         5   X

In [3]:
dFrame2 = DataFrame({'key': ['Q','Y','Z'],'dataSet2':[1,2,3]})
dFrame2

   dataSet2 key
0         1   Q
1         2   Y
2         3   Z

In [6]:
#use the merge method. many to one method
# so the common index were merge or keys matched
pd.merge(dFrame1,dFrame2)

   dataSet1 key  dataSet2
0         1   Z         3
1         3   Z         3
2         2   Y         2

In [7]:
#match a specific column
pd.merge(dFrame1,dFrame2,on='key')

   dataSet1 key  dataSet2
0         1   Z         3
1         3   Z         3
2         2   Y         2

In [8]:
#which dtaFrame keys to use
#using the left dataset, Nan becuase dataset2 has no x key etc..
pd.merge(dFrame1,dFrame2,on='key',how='left')

   dataSet1 key  dataSet2
0         0   X       NaN
1         1   Z         3
2         2   Y         2
3         3   Z         3
4         4   X       NaN
5         5   X       NaN

In [10]:
#right
pd.merge(dFrame1,dFrame2,on='key',how='right')

   dataSet1 key  dataSet2
0         1   Z         3
1         3   Z         3
2         2   Y         2
3       NaN   Q         1

In [11]:
#use both of them by using the union, look at how the how method 
pd.merge(dFrame1,dFrame2,on='key',how='outer')

   dataSet1 key  dataSet2
0         0   X       NaN
1         4   X       NaN
2         5   X       NaN
3         1   Z         3
4         3   Z         3
5         2   Y         2
6       NaN   Q         1

In [12]:
#many to many merge
dFrame3 = DataFrame({'key': ['X','X','X','Y','Z','Z'],'dataSet3': range(6)})

In [13]:
dFrame4 = DataFrame({'key': ['Y','Y','X','X','Z'],'dataSet4': range(5)})

In [14]:
dFrame3

   dataSet3 key
0         0   X
1         1   X
2         2   X
3         3   Y
4         4   Z
5         5   Z

In [15]:
dFrame4

   dataSet4 key
0         0   Y
1         1   Y
2         2   X
3         3   X
4         4   Z

In [16]:
#merge the many many dataFrame
#values are different 
pd.merge(dFrame3,dFrame4)

   dataSet3 key  dataSet4
0         0   X         2
1         0   X         3
2         1   X         2
3         1   X         3
4         2   X         2
5         2   X         3
6         3   Y         0
7         3   Y         1
8         4   Z         4
9         5   Z         4

In [17]:
#merge with multiuple keys
dfLeft = DataFrame({'key1': ['SF','SF','LA'],'key2':['one','two','one'],
                   'leftData':[10,20,30]})

In [18]:
dfRight = DataFrame({'key1': ['SF','SF','LA','LA'],
                     'key2':['one','one','one','two'],
                   'rightData':[40,50,60,70]})
dfRight

  key1 key2  rightData
0   SF  one         40
1   SF  one         50
2   LA  one         60
3   LA  two         70

In [19]:
dfLeft

  key1 key2  leftData
0   SF  one        10
1   SF  two        20
2   LA  one        30

In [20]:
#merge on multiple keys
#check what the index has
pd.merge(dfLeft,dfRight,on=['key1','key2'],how ='outer')

  key1 key2  leftData  rightData
0   SF  one        10         40
1   SF  one        10         50
2   SF  two        20        NaN
3   LA  one        30         60
4   LA  two       NaN         70

In [21]:
#add sufixes
#pandas keep the keys separate 
pd.merge(dfLeft,dfRight,on='key1')

  key1 key2_x  leftData key2_y  rightData
0   SF    one        10    one         40
1   SF    one        10    one         50
2   SF    two        20    one         40
3   SF    two        20    one         50
4   LA    one        30    one         60
5   LA    one        30    two         70

In [22]:
#if you want the suffix to be manual
pd.merge(dfLeft,dfRight,on='key1',suffixes=('_lefty','_righty'))

  key1 key2_lefty  leftData key2_righty  rightData
0   SF        one        10         one         40
1   SF        one        10         one         50
2   SF        two        20         one         40
3   SF        two        20         one         50
4   LA        one        30         one         60
5   LA        one        30         two         70

In [ ]:
#for more help
url ='http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html'