In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

from numpy.random import randn

In [4]:
ser1 = Series([1,2,3,4],index = ['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [6]:
#rearange a data to a new index
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [8]:
#rather than null value have a value added to a series index
ser2.reindex(['A','B','C','D','E','F','G'],fill_value = 0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [9]:
#use methods to fill in values
ser3 = Series(['USA','Mexico','Canada'],index =[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
#reindex it from 0 to 14 and fill
ranger = range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [11]:
#forward fill a vlaue = ffill, there are more methods at pandas website
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [12]:
#reindex columns or rows
# 25 values and reshape will give a matrix 
#missed C on purpose
dFrame = DataFrame(randn(25).reshape(5,5),index = ['A','B','D','E','F'],
                   columns=['col1','col2','col3','col4','col5'])
dFrame

       col1      col2      col3      col4      col5
A  1.599248  2.060513 -1.362552 -0.920181  0.904409
B -2.823433  0.329210 -0.432048 -0.078544  0.340176
D -0.589181  0.351861 -0.162969 -1.424835 -0.361934
E  1.483888  0.407184 -0.694562  0.515932  0.616410
F  1.029646 -0.266155  0.610447  0.050960  0.102680

In [13]:
#reindex with c, it will add null values 
dFrame2 = dFrame.reindex(['A','B','C','D','E','F'])
dFrame2

       col1      col2      col3      col4      col5
A  1.599248  2.060513 -1.362552 -0.920181  0.904409
B -2.823433  0.329210 -0.432048 -0.078544  0.340176
C       NaN       NaN       NaN       NaN       NaN
D -0.589181  0.351861 -0.162969 -1.424835 -0.361934
E  1.483888  0.407184 -0.694562  0.515932  0.616410
F  1.029646 -0.266155  0.610447  0.050960  0.102680

In [14]:
#explicitly reindex columns, pandas put null values for col6
newColumns =['col1','col2','col3','col4','col5','col6']
dFrame2.reindex(columns = newColumns)

       col1      col2      col3      col4      col5  col6
A  1.599248  2.060513 -1.362552 -0.920181  0.904409   NaN
B -2.823433  0.329210 -0.432048 -0.078544  0.340176   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.589181  0.351861 -0.162969 -1.424835 -0.361934   NaN
E  1.483888  0.407184 -0.694562  0.515932  0.616410   NaN
F  1.029646 -0.266155  0.610447  0.050960  0.102680   NaN

In [15]:
#reindex quickly using .ix
dFrame.ix[['A','B','C','D','E','F'],newColumns]

       col1      col2      col3      col4      col5  col6
A  1.599248  2.060513 -1.362552 -0.920181  0.904409   NaN
B -2.823433  0.329210 -0.432048 -0.078544  0.340176   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.589181  0.351861 -0.162969 -1.424835 -0.361934   NaN
E  1.483888  0.407184 -0.694562  0.515932  0.616410   NaN
F  1.029646 -0.266155  0.610447  0.050960  0.102680   NaN