In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
#get a make a csv  file
dFrame = pd.read_csv('lecture25.csv')

In [3]:
dFrame
# set the first row as column names

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [6]:
#not as column names
dFrame = pd.read_csv('lecture25.csv',header = None)
dFrame

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [7]:
#another way to import csv file. read table method is more generic way
dFrame = pd.read_table('lecture25.csv',sep =',',header = None)

In [8]:
dFrame

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [9]:
#indictae a particular rows to be read
pd.read_csv('lecture25.csv',header = None,nrows = 2)
#nrows no. of rows want to read

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [10]:
#export a dframe
#saved where ipython notebooks are saved in the same folder
dFrame.to_csv('myTextDataOut.csv')

In [11]:
import sys
#see the output directly

In [12]:
dFrame.to_csv(sys.stdout)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [13]:
# using a different delimiter
dFrame.to_csv(sys.stdout,sep='-')

-0-1-2-3-4
0-q-r-s-t-apple
1-2-3-4-5-pear
2-a-s-d-f-rabbit
3-5-2-5-7-dog

In [14]:
dFrame.to_csv(sys.stdout,sep ='?')

?0?1?2?3?4
0?q?r?s?t?apple
1?2?3?4?5?pear
2?a?s?d?f?rabbit
3?5?2?5?7?dog

In [15]:
#choose to write only a subset
dFrame.to_csv(sys.stdout,columns =[0,1,2])

,0,1,2
0,q,r,s
1,2,3,4
2,a,s,d
3,5,2,5

In [ ]:
# built in csv for more information
url = "https://docs.python.org/2/library/csv.html"