In [1]:
import numpy as np0
import pandas as pd
from pandas import Series , DataFrame

In [2]:
# series is like an array with index
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
# see the values of series object
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [4]:
obj.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [5]:
# create a series with index
ww2Cas = Series([87000,4300000,300000,210000,400000],index=['USSR','Germany','China','Japan','USA'])
ww2Cas

USSR         87000
Germany    4300000
China       300000
Japan       210000
USA         400000
dtype: int64

In [6]:
# index values to select the series value
ww2Cas['USA']

400000

In [8]:
#check array operations
#check which countries had more casualities greater than 4 mill
ww2Cas[ww2Cas > 400000]

Germany    4300000
dtype: int64

In [9]:
# ordered dictionary if a value was in a series
'USSR' in ww2Cas

True

In [10]:
#convert a series into a dictionary
ww2Dict = ww2Cas.to_dict()
ww2Dict

{'China': 300000,
 'Germany': 4300000,
 'Japan': 210000,
 'USA': 400000,
 'USSR': 87000}

In [11]:
#to convert into a series
ww2Series = Series(ww2Dict)

In [12]:
ww2Series

China       300000
Germany    4300000
Japan       210000
USA         400000
USSR         87000
dtype: int64

In [16]:
# dictionary keys are in order
countries = ['China','Germany','USA','Japan','India']

In [17]:
obj2 = Series(ww2Dict,index = countries) # if somethinf is not in an index

In [18]:
obj2

China       300000
Germany    4300000
USA         400000
Japan       210000
India          NaN
dtype: float64

In [20]:
#isnull
pd.isnull(obj2)

China      False
Germany    False
USA        False
Japan      False
India       True
dtype: bool

In [21]:
#not null#
pd.notnull(obj2)

China       True
Germany     True
USA         True
Japan       True
India      False
dtype: bool

In [22]:
ww2Series

China       300000
Germany    4300000
Japan       210000
USA         400000
USSR         87000
dtype: int64

In [23]:
#add series to series
obj2

China       300000
Germany    4300000
USA         400000
Japan       210000
India          NaN
dtype: float64

In [24]:
ww2Series + obj2 # line by index and add by index

China       600000
Germany    8600000
India          NaN
Japan       420000
USA         800000
USSR           NaN
dtype: float64

In [25]:
# name the series
obj2.name = "World War 2 Casualities"
obj2

China       300000
Germany    4300000
USA         400000
Japan       210000
India          NaN
Name: World War 2 Casualities, dtype: float64

In [26]:
#name index
obj2.index.name = "Countries"

In [27]:
obj2

Countries
China       300000
Germany    4300000
USA         400000
Japan       210000
India          NaN
Name: World War 2 Casualities, dtype: float64