In [1]:
#import the library used to query a website
import requests
#specify the url for 2017
lottery = "https://www.irishlottery.com/archive-2017"
#Query the website and return the html to the variable 'page'
page = requests.get(lottery)

In [2]:
page.status_code

200

A status_code of 200 means that the page downloaded successfully.

In [3]:
#import the Beautiful soup functions to parse the data returned from the website
from bs4 import BeautifulSoup
#Parse the html in the 'page' variable, and store it in Beautiful Soup format
soup = BeautifulSoup(page.content, 'html.parser')

In [4]:
# Find the 6 lotto numbers available at the class = "Ball"
ball_class = soup.find_all('td', class_='ball')
#get the text using list comprehension
ball = [pt.get_text() for pt in ball_class]
ball
type(ball)

list

In [7]:
#convert into a dataframe in acsending order
import numpy as np
import pandas as pd
df_ball = pd.DataFrame(np.array(ball).reshape(-1,6),columns = list("abcdef"))

In [10]:
# Find the bonus number available at the class = "bonus-ball"
ball_bonus_class = soup.find_all('td', class_='bonus-ball')
ball_bonus = [pt.get_text() for pt in ball_bonus_class]
type(ball_bonus)

list

In [12]:
df_ball_bonus = pd.DataFrame(ball_bonus,columns = ['Bonus'])

In [13]:
#join the two dataframes
df_2017 = pd.concat([df_ball, df_ball_bonus], axis=1)

In [15]:
#find all the dates available in th
date = soup.find_all('th')
date1 = [pt.get_text() for pt in date]

In [16]:
#convert to the dtaframe
df_date = pd.DataFrame(date1,columns =['Date'])
#select the datframe after first two rows as they show result date and draw result
df_date = df_date[2:]

In [20]:
#reset the index from 0
df_date = df_date.reset_index()
del df_date['index']

In [21]:
df_date.dtypes

Date    object
dtype: object

In [22]:
#convert the date into date time
df_date = df_date.apply(pd.to_datetime)

In [23]:
#https://stackoverflow.com/questions/42693410/how-to-convert-object-to-date-in-pandas
df_date.dtypes

Date    datetime64[ns]
dtype: object

In [26]:
df = pd.concat([df_date, df_2017], axis=1)
df

         Date   a   b   c   d   e   f Bonus
0  2017-09-06   1   4   5   6  18  47    35
1  2017-09-02   7  11  18  23  28  40    37
2  2017-08-30   5  12  18  19  29  39    10
3  2017-08-26   1  16  17  32  34  35     5
4  2017-08-23   7  19  30  31  37  42    35
5  2017-08-19   3  12  19  23  37  40    31
6  2017-08-16   7  16  17  25  31  33    39
7  2017-08-12   1  19  22  26  44  45    35
8  2017-08-09   2   7  10  27  29  37    40
9  2017-08-05  17  20  26  28  36  47    42
10 2017-08-02   7  12  20  23  25  41    38
11 2017-07-29   7  18  29  32  34  41    20
12 2017-07-26   1   6  13  24  37  40    23
13 2017-07-22   8  14  20  21  41  44     9
14 2017-07-19   1   5  27  28  32  45     7
15 2017-07-15   5  10  18  23  36  46    40
16 2017-07-12   5   6  24  30  38  47    27
17 2017-07-08  11  31  32  33  38  45    37
18 2017-07-05   7  16  18  20  24  37    13
19 2017-07-01  11  13  19  26  38  41    29
20 2017-06-28   6  10  15  25  34  45    42
21 2017-06-24   3  20  31  32  43  46    19
22 2017-06-21  12  15  24  29  33  46    22
23 2017-06-17   9  14  32  34  40  42    22
24 2017-06-14   7  10  20  22  40  46     3
25 2017-06-10   5   6  19  20  24  29    39
26 2017-06-07   4   9  17  20  23  33    19
27 2017-06-03   8  10  22  31  36  37    43
28 2017-05-31  15  31  33  34  36  43    39
29 2017-05-27   2   5  12  34  41  47    29
..        ...  ..  ..  ..  ..  ..  ..   ...
41 2017-04-15   7   9  16  26  40  45    13
42 2017-04-12   7  14  18  24  25  31    29
43 2017-04-08   2   7   9  35  41  45    22
44 2017-04-05   9  10  11  22  30  42    41
45 2017-04-01   9  16  31  35  37  43    34
46 2017-03-29   1   8  28  38  40  46    33
47 2017-03-25   1   4   6  16  18  27    28
48 2017-03-22  16  22  30  35  36  47    13
49 2017-03-18   9  11  18  24  30  44    46
50 2017-03-15   7   9  15  30  37  45    23
51 2017-03-11   3  11  32  36  37  38     1
52 2017-03-08  11  13  21  31  32  42    16
53 2017-03-04   6  12  18  20  41  42    13
54 2017-03-01   2  15  19  26  37  38    39
55 2017-02-25   2  12  17  29  32  38    20
56 2017-02-22   5   9  27  36  38  47    31
57 2017-02-18  27  32  44  45  46  47    24
58 2017-02-15   3  10  15  17  34  39    31
59 2017-02-11   2  16  19  26  28  29    37
60 2017-02-08   2   6   9  31  41  47    43
61 2017-02-04  10  21  22  26  42  46    35
62 2017-02-01  11  13  34  38  40  47    21
63 2017-01-28  13  14  22  24  25  42     7
64 2017-01-25   6   7  17  20  25  29    34
65 2017-01-21  18  21  22  23  24  36    45
66 2017-01-18   2  12  24  31  34  43    47
67 2017-01-14   2   4  11  22  25  34     7
68 2017-01-11   8  12  13  16  19  24    15
69 2017-01-07  33  36  39  42  45  47    38
70 2017-01-04   6  10  19  21  43  44     3

[71 rows x 8 columns]