In [ ]:
#Loading CSV files
#Sometimes the CSV file contains padding spaces in front of the values. To ignore them use the skipinitialspaces parameter:

pd.read_csv('file.csv', sep=';', skipinitialspace=True)
#If the padding white spaces occur on both sides of the cell values we need to use a regular expression separator.
# In this case, we need to use the ‘python’ processing engine, instead of the underlying native one, in order to avoid warnings. This will degrade the performance a bit:

pd.read_csv('file.csv', sep='\s*;\s*', skipinitialspace=True, engine='python')

In [ ]:
#Sometimes we need to sample the data before loading it, as it is too big to fit in memory.
#  http://nikgrozev.com/2015/06/16/fast-and-simple-sampling-in-pandas-when-loading-data-from-files/

In [ ]:
# List unique values in a DataFrame column
df['Column Name'].unique()

In [ ]:
# Convert Series datatype to numeric (will error if column has non-numeric values)
pd.to_numeric(df['Column Name'])

In [ ]:
# Convert Series datatype to numeric, changing non-numeric values to NaN
pd.to_numeric(df['Column Name'], errors='coerce')

In [ ]:
# Grab DataFrame rows where column has certain values
valuelist = ['value1', 'value2', 'value3']
df = df[df.column.isin(valuelist)]

In [ ]:
# Grab DataFrame rows where column doesn't have certain values
valuelist = ['value1', 'value2', 'value3']
df = df[~df.column.isin(value_list)]

In [ ]:
# Delete column from DataFrame
del df['column']

In [ ]:
#Add labels to columns:
df.columns = ['a', 'b', 'c']

In [ ]:
#Drop all but a and c columns:
df[['a', 'c']]

In [ ]:
#Get a NumPy array of index values:
df.index.values

In [ ]:
#Make column a the index
df.set_index('a', inplace=True)

In [ ]:
#Check if column a is already sorted by comparing initial and value-sorted indexes:
>>> df.a.index.tolist()
[0, 1, 2, 3, 4]
>>> df.a.sort_values().index.tolist()
[2, 4, 1, 0, 3]
>>> df.a.index.tolist() == df.a.sort_values().index.tolist()
False

In [ ]:
#Sort along the index:
df.sort_index(inplace=True)

In [ ]:
#Deduplicate c data points at the same a index, with the highest c value taking precedence:
df['c'].reset_index().groupby('a').max()

###### Stackoverflow: Pandas
https://stackoverflow.com/questions/tagged/pandas

###### Pandas Code Snippets
http://pandascodesnippets.blogspot.ie/

In [ ]:
# Select from DataFrame using criteria from multiple columns
# (use `|` instead of `&` to do an OR)
newdf = df[(df['column_one']>2004) & (df['column_two']==9)]

In [ ]:
#adding new column
df.insert(loc=3, column='newCol', value=None)

In [ ]:
# Rename several DataFrame columns
df = df.rename(columns = {
    'col1 old name':'col1 new name',
    'col2 old name':'col2 new name',
    'col3 old name':'col3 new name',
})

In [ ]:
#apply functions to multiple columns
cols = ['A', 'B', 'C']
df[cols] = df[cols].applymap(lambda x: x.lower())

In [ ]:
# Lower-case all DataFrame column names
df.columns = map(str.lower, df.columns)

In [ ]:
# Even more fancy DataFrame column re-naming
# lower-case all DataFrame column names (for example)
df.rename(columns=lambda x: x.split('.')[-1], inplace=True)

In [ ]:
# Loop through rows in a DataFrame
# (if you must)
for index, row in df.iterrows():
    print index, row['some column']

In [ ]:
# Much faster way to loop through DataFrame rows
# if you can work with tuples
for row in df.itertuples():
    print(row)

In [ ]:
# Next few examples show how to work with text data in Pandas.
# Full list of .str functions: http://pandas.pydata.org/pandas-docs/stable/text.html

In [ ]:
# Slice values in a DataFrame column (aka Series)
df.column.str[0:2]

In [ ]:
# Lower-case everything in a DataFrame column
df.column_name = df.column_name.str.lower()

In [ ]:
# Get length of data in a DataFrame column
df.column_name.str.len()

In [ ]:
# Sort dataframe by multiple columns
df = df.sort(['col1','col2','col3'],ascending=[1,1,0])

In [ ]:
# Get top n for each group of columns in a sorted dataframe
# (make sure dataframe is sorted first)
top5 = df.groupby(['groupingcol1', 'groupingcol2']).head(5)

In [ ]:
# Grab DataFrame rows where specific column is null/notnull
newdf = df[df['column'].isnull()]

In [ ]:
# Select from DataFrame using multiple keys of a hierarchical index
df.xs(('index level 1 value','index level 2 value'), level=('level 1','level 2'))

In [ ]:
# Change all NaNs to None (useful before
# loading to a db)
df = df.where((pd.notnull(df)), None)

In [ ]:
# count NaN
df.shape[0] - df.dropna().shape[0]
# selecting NaN rows
df[df['B'].isnull()]
# selecting not null rows
df[df['B'].notnull()]

In [ ]:
#chaining conditions

df[(df['blood'] == 'B') | (df['blood'] == 'AB')]
df[(df['blood'] == 'B') & (df['blood'] == 'AB')]

In [ ]:
# More pre-db insert cleanup...make a pass through the dataframe, stripping whitespace
# from strings and changing any empty values to None
# (not especially recommended but including here b/c I had to do this in real life one time)
df = df.applymap(lambda x: str(x).strip() if len(str(x).strip()) else None)

In [ ]:
# Get quick count of rows in a DataFrame
len(df.index)

In [ ]:
# Pivot data (with flexibility about what what
# becomes a column and what stays a row).
# Syntax works on Pandas >= .14
pd.pivot_table(
  df,values='cell_value',
  index=['col1', 'col2', 'col3'], #these stay as columns; will fail silently if any of these cols have null values
  columns=['col4']) #data values in this column become their own column

In [ ]:
# Change data type of DataFrame column
df.column_name = df.column_name.astype(np.int64)

In [ ]:
# Get rid of non-numeric values throughout a DataFrame:
for col in refunds.columns.values:
  refunds[col] = refunds[col].replace('[^0-9]+.-', '', regex=True)

In [ ]:
# Set DataFrame column values based on other column values 
df.loc[(df['column1'] == some_value) & (df['column2'] == some_other_value), ['column_to_change']] = new_value

In [ ]:
# Clean up missing values in multiple DataFrame columns
df = df.fillna({
    'col1': 'missing',
    'col2': '99.999',
    'col3': '999',
    'col4': 'missing',
    'col5': 'missing',
    'col6': '99'
})

In [ ]:
#renaming columns
df.rename(columns={
    'S': 'Strength',
    'W': 'Weak',
    'O': 'Opportunity',
    'T': 'Threat',
})
df.columns

In [ ]:
# Concatenate two DataFrame columns into a new, single column
# (useful when dealing with composite keys, for example)

df['newcol'] = df['col1'].astype(str) + df['col2'].astype(str)

In [ ]:
# Doing calculations with DataFrame columns that have missing values
# In example below, swap in 0 for df['col1'] cells that contain null
df['new_col'] = np.where(pd.isnull(df['col1']),0,df['col1']) + df['col2']

In [ ]:
# Split delimited values in a DataFrame column into two new columns
df['new_col1'], df['new_col2'] = zip(*df['original_col'].apply(lambda x: x.split(': ', 1)))

In [ ]:
# Collapse hierarchical column indexes
df.columns = df.columns.get_level_values(0)

In [ ]:
# Convert Django queryset to DataFrame
qs = DjangoModelName.objects.all()
q = qs.values()
df = pd.DataFrame.from_records(q)

In [ ]:
# Create a DataFrame from a Python dictionary
df = pd.DataFrame(list(a_dictionary.items()), columns = ['column1', 'column2'])

In [ ]:
# Get a report of all duplicate records in a dataframe, based on specific columns
dupes = df[df.duplicated(['col1', 'col2', 'col3'], keep=False)]

In [ ]:
# Set up formatting so larger numbers aren't displayed in scientific notation (h/t @thecapacity)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

###### Excellent Resources

https://www.maxmasnick.com/projects/scipy-tips/

https://chrisalbon.com/

http://www.swegler.com/becky/blog/2014/08/06/useful-pandas-snippets/

https://jeffdelaney.me/blog/useful-snippets-in-pandas/

In [ ]:
#Importing a CSV File

df = pd.read_csv('pizza.csv')
#Need to parse dates? Just pass in the corresponding column name(s).

df = pd.read_csv('pizza.csv', parse_dates=['dates'])
#Only need a few specific columns?

df = pd.read_csv('pizza.csv', usecols=['foo', 'bar'])

In [ ]:
#Exploring Data in a DataFrame
#The first thing you probably want to do is see what the data looks like. Here a few ways to check out Pandas data.

df.head()       # first five rows
df.tail()       # last five rows
df.sample(5)    # random sample of rows
df.shape        # number of rows/columns in a tuple
df.describe()   # calculates measures of central tendency
df.info()       # memory footprint and datatypes

# The number of columns. Equal to df.shape[0]
len(df) 

# An array of the column names
df.columns 

# Columns and their types
df.dtypes

# Converts the frame to a two-dimensional table
df.values

df.cov() #covariance The cov method provides the covariance between suitable columns.
df.corr() #correlation The corr method provides the correlation between suitable columns.

In [ ]:
#Adding a New Column to a DataFrame
#The quick and easy way is to just define a new column on the dataframe. This will give us column with the number 23 on every row. Usually, you will be setting the new column with an array or Series that matches the number of rows in the data.

df['new_column'] = 23
#Need to build a new column based on values from other columns?

full_price = (df.price + df.discount)
df['original_price'] = full_price
#Need the column in a certain order? The first argument is the position of the column. This will put the column at the begining of the DataFrame.

df.insert(0, 'original_price', full_price)

In [ ]:
#Sorting a DataFrame by a Certain Column
df.sort_values('price', axis=0, ascending=False)

In [ ]:
#We can also sort by one or multiple columns:

df.sort_values(by=['col2', 'col1'], ascending=False)

In [ ]:
#Apply a Function to Every Row in a Column
def calculate_taxes(price):
    taxes = price * 0.12
    return taxes

df['taxes'] = df.price.apply(calculate_taxes)

In [ ]:
#Add a New Column with Conditional Logic
df['profitable'] = np.where(df['price']>=15.00, True, False)

In [ ]:
#Finding the Mean or Standard Deviation of Multiple Columns or Rows
df['mean'] = df.mean(axis=1)
#or to find the standard deviation vertically

df.std(axis=0)

In [ ]:
#Converting a DataFrame to a Numpy Array
#Converting the the values in a DataFrame to an array is simple

df.values
#If you want to preserve the table presentation

df.as_matrix

In [ ]:
#Combining DataFrames with Concatenation
#You can concatenate rows or columns together, the only requirement is that the shape is the same on corresponding axis. To concat rows vertically:

pd.concat([df_1, df_2], axis=0)
#Or to concat columns horizontally:

pd.concat([df_1, df_2], axis=1)

In [ ]:
#Combining DataFrames based on an Index Key
#you can perform inner, outer, left, right joins just like you would in SQL.

merged_df = df_1.merge(df_2, how='left', on='order_id')

In [ ]:
#Merge and Join
#Pandas supports database-like joins which makes it easy to link data frames.

In [57]: df
Out[57]:
   float_col  int_col str_col
0        0.1        1       a
1        0.2        2       b
2        0.2        6    None
3       10.1        8       c
4        NaN       -1       a

In [58]: other = DataFrame({'str_col' : ['a','b'], 'some_val' : [1, 2]})

In [59]: other
Out[59]:
   some_val str_col
0         1       a
1         2       b

In [ ]:
#The inner, outer, left and right joins are show below. The data frames are joined using the str_col keys.
In [60]: pd.merge(df,other,on='str_col',how='inner')
Out[60]:
   float_col  int_col str_col  some_val
0        0.1        1       a         1
1        NaN       -1       a         1
2        0.2        2       b         2

In [61]: pd.merge(df,other,on='str_col',how='outer')
Out[61]:
   float_col  int_col str_col  some_val
0        0.1        1       a         1
1        NaN       -1       a         1
2        0.2        2       b         2
3        0.2        6    None       NaN
4       10.1        8       c       NaN

In [62]: pd.merge(df,other,on='str_col',how='left')
Out[62]:
   float_col  int_col str_col  some_val
0        0.1        1       a         1
1        NaN       -1       a         1
2        0.2        2       b         2
3        0.2        6    None       NaN
4       10.1        8       c       NaN

In [63]: pd.merge(df,other,on='str_col',how='right')
Out[63]:
   float_col  int_col str_col  some_val
0        0.1        1       a         1
1        NaN       -1       a         1
2        0.2        2       b         2

In [ ]:
#Vectorization is a powerful tool. For almost all data-intensive computing, you will use numpy arrays rather than Python lists.

#You've seen a similar concept in a spreadsheet where you add an entire column to another one.

# we'll use numpy's array function to vectorize lists
# we can do this on the fly:
a=np.array([1,2,3,4,5])
print a
print type(a)

# or we can reference a previously defined list:
L=[2,4,6,8,10]
b=np.array(L)
print b
print type(b)

# now we can use vector math to combine the two
print a+b
print a-b
print a*b
print a/b
print a**b

In [ ]:
#Converting Dates to their own Day, Week, Month, Year Columns
#First, make sure the data is in datetime format. Then use dt method to extract the data you need.

date = pd.to_datetime(df.date)
df['weekday'] = date.dt.weekday
df['year'] = date.dt.year

In [ ]:
#Finding NaNs in a DataFrame
#Count the total number of NaNs present:

df.isnull().sum().sum()
#List the NaN count for each column:

df.isnull().sum()

In [ ]:
#Filling NaNs or Missing Data
#Most machine learning algorithms do not like NaN values, so you’ll probably need to convert them. If the topping column is missing some values, we can fill them a default value.

df.topping = df.topping.fillna('Cheese')
#or we can drop any row missing data across the entire DataFrame:

df = df.dropna(axis=0)

In [ ]:
#Extracting Features by Grouping Columns
#Grouping columns is a great way to extract features from data. This is especially useful when you have data that can be counted or quantified in some way. For example, you might have group pizzas by topping, then calculate the mean for price in each group.

df.groupby('topping')['discount'].apply(lambda x: np.mean(x))

In [ ]:
#or maybe you want to see the count of a certain value

df.groupby('topping')['discount'].apply(lambda x: x.count())
topping

In [ ]:
#Creating Bins
#Let’s say we want to create 3 separate bins for different price ranges. This is especially useful for simplifying noisy data.

bins = [0, 5, 15, 30]
names = ['Cheap', 'Normal', 'Expensive']

df['price_point'] = pd.cut(df.price, bins, labels=names)

In [ ]:
#Creating a new Column by Looping
#Let’s say we want to categorize toppings by ‘vegetable’ or ‘meat’. Dealing with nominal values like these can be handled with a for loop. (Note: you can also use the apply function described earlier to perform this task. )

topping_type = []

for row in df.topping:
    if row in ['pepperoni', 'chicken', 'anchovies']:
        topping_type.append('meat')
    else:
        topping_type.append('vegetable')

df['topping_type'] = topping_type

In [ ]:
#Loading Massive Datasets in Smaller Chunks
#Sometimes you might have a massive file that will max out your RAM and crash your system. In that case, you might need to analyze the file in smaller chunks.

chunksize = 500
chunks = []
for chunk in pd.read_csv('pizza.csv', chunksize=chunksize):
    # Do stuff...
    chunks.append(chunk)

df = pd.concat(chunks, axis=0)

In [ ]:
#Selecting/Querying
#Individual columns can be selected with the [] operator or directly as attributes:

# Selects only the column named 'col1';
df.col1 

# Same as previous
df['col1'] 

# Select two columns
df[['col1', 'col2']]

#You can also select by absolute coordinates/position in the frame. Indices are zero based:

# Selects second row
df.iloc[1]
# Selects rows 1-to-3
df.iloc[1:3]
# First row, first column
df.iloc[0,0]
# First 4 rows and first 2 columns
df.iloc[0:4, 0:2]

In [ ]:
#Most often, we need to select by a condition on the cell values. To do so, we provide a boolean array denoting which rows will be selected. The trick is that pandas predefines many boolean operators for its data frames and series. For example the following expression produces a boolean array:

# Produces and array, not a single value!
df.col3 > 0
#This allows us to write queries like these:

# Query by a single column value
df[df.col3 > 0] 

# Query by a single column, if it is in a list of predefined values
df[df['col2'].isin(['Gold', 'Silver'])] 

# A conjunction query using two columns
df[(df['col3'] > 0) & (df['col2'] == 'Silver')] 

# A disjunction query using two columns
df[(df['col3'] > 0) | (df['col2'] == 'Silver')]

# A query checking the textual content of the cells
df[df.col2.str.contains('ilver')]

In [ ]:
# One can select multiple boolean operators (| for or, & for and, and ~ for not) and group them by parenthisis.
df[(df['float_col'] > 0.1) & (df['int_col']>2)]

df[(df['float_col'] > 0.1) | (df['int_col']>2)]


df[~(df['float_col'] > 0.1)]

In [ ]:
#Modifying Data Frames
#Pandas’ operations tend to produce new data frames instead of modifying the provided ones. Many operations have the optional boolean inplace parameter which we can use to force pandas to apply the changes to subject data frame.

#It is also possible to directly assign manipulate the values in cells, columns, and selections as follows:

# Modifies the cell identified by its row index and column name
df.at[1, 'col2'] = 'Bronze and Gold' 

# Modifies the cell identified by its absolute row and column indices
df.iat[1,1] = 'Bronze again' 

# Replaces the column with the array. It could be a numpy array or a simple list.
#Could also be used to create new columns
df.loc[:,'col3'] = ['Unknown'] * len(df) 

# Equivalent to the previous
df.col3 = ['Unknown'] * len(df) 

# Removes all rows with any missing values.
df.dropna(how='any') 

# Removes all rows with all missing values.
df.dropna(how='all')

In [ ]:
#It is often useful to create new columns based on existing ones by using a function. The new columns are often called Derived Characteristics:

def f(x):
    return x + ' New Column';

# Uses the unary function f to create a new column based on an existing one
df.col4 = f(df.col3) 

def g(x, y):
    return x + '_' + y

# Uses the 2-arg function g to create a new column based on 2 existing columns
df.col4 = g(df.col3, df.col2)

In [ ]:
#Dates and Time
#When loading data from a CSV, we can tell pandas to look for and parse dates. The parse_dates parameters can be used for that. In the most typical case, you would pass a list of column names as parse_dates:
dates_df = pandas.read_csv('test.csv', sep=';', parse_dates=['col1', 'col2'])

In [ ]:
#This will work for most typical date formats. If it does not (i.e. we have a non-standard date format) we need to supply our own date parser:
def custom_parser(s):
    # Specify the non-standard format you need
    return pandas.datetime.strptime(s, '%d%b%Y')

dates_df = pandas.read_csv('test.csv', sep=';', parse_dates=['col1'], date_parser=custom_parser)

In [ ]:
#Alternatively, if we’ve already loaded the data frame we can change a column from string to a date:
dates_df['col2'] = pandas.to_datetime(dates_df['col2'], format='%d.%m.%Y')

In [ ]:
#Often we need to work with Unix/Posix timestamps. Converting numeric timestamps to pandas timestamps is easy with the unit parameter:

# Unit specifies if the time is in seconds('s'), millis ('ms'), nanos('ns') etc.
dates_df['col'] = pandas.to_datetime(dates_df['col'], unit='ms')

In [ ]:
#If we need to parse Posix timestamps while reading CSVs, we can once again resort to converter functions. In the converter function we can use the pandas.to_datetime utility which accepts a unit parameter:

def timestamp_parser(n):
    # Specify the unit you need
    return pandas.to_datetime(float(n), unit='ms')

dates_df = pandas.read_csv('test.csv', sep=';', parse_dates=['col1'], date_parser=timestamp_parser)
#We can also convert time/timestamp data to Unix epoch numbers:

# Creates a new numeric column with the timestamp epoch in nanos
dates_df.col4 = pandas.to_numeric(dates_df.col3)

In [ ]:
#Map, Apply
#Forget writing for loops while using pandas. One can do beautiful vectorized computation by applying function over rows and columns using the map, apply and applymap methods.

#map
#The map operation operates over each element of a Series.

df['str_col'].dropna().map(lambda x : 'map_' + x)

In [ ]:
#apply
#The apply is a pretty flexible function which, as the name suggests, applies a function along any axis of the DataFrame. The examples show the application of the sum function over columns. (Thanks to Mindey in the comments below to use np.sum instead of np.sqrt in the example)
df.ix[:,['int_col','float_col']].apply(np.sqrt)

In [ ]:
#applymap

#The applymap operation can be used to apply the function to each element of the DataFrame.

def some_fn(x):
   ....:   if type(x) is str:
   ....:     return 'applymap_' + x
   ....:   elif x:
   ....:     return 100 * x
   ....:   else:
   ....:     return
   ....:

In [40]: df.applymap(some_fn)
Out[40]:
   float_col  int_col     str_col
0         10      100  applymap_a
1         20      200  applymap_b
2         20      600        None
3       1010      800  applymap_c
4        NaN     -100  applymap_a

In [ ]:
#GroupBy
#The groupby method let’s you perform SQL-like grouping operations. The example below shows a grouping operation performed with str_col columns entries as keys. It is used to calculate the mean of the float_col for each key. For more details, please refer to the split-apply-combine description on the pandas website.
# http://pandas-docs.github.io/pandas-docs-travis/
#http://pandas.pydata.org/pandas-docs/stable/basics.html#vectorized-string-methods

In [41]: grouped = df['float_col'].groupby(df['str_col'])

In [42]: grouped.mean()
Out[42]:
str_col
a           0.1
b           0.2
c          10.1

###### New Columns = f(Existing Columns)
Generating new columns from existing columns in a data frame is an integral part of my workflow. This was one of the hardest parts for me to figure out. I hope these examples will save time and effort for other people.

I will try to illustrate it in a piecemeal manner – multiple columns as a function of a single column, single column as a function of multiple columns, and finally multiple columns as a function of multiple columns.

multiple columns as a function of a single column
I often have to generate multiple columns of a DataFrame as a function of a single columns.

http://manishamde.github.io/blog/2013/03/07/pandas-and-python-top-10/

https://stackoverflow.com/questions/12356501/pandas-create-two-new-columns-in-a-dataframe-with-values-calculated-from-a-pre

In [ ]:
In [43]: df4 = df.copy()

In [44]: def two_three_strings(x):
   ....:   return x*2, x*3
   ....:

In [45]: df4['twice'],df4['thrice'] = zip(*df4['int_col'].map(two_three_strings))

In [46]: df4
Out[46]:
   float_col  int_col str_col  twice  thrice
0        0.1        1       a      2       3
1        0.2        2       b      4       6
2        0.2        6    None     12      18
3       10.1        8       c     16      24
4        NaN       -1       a     -2      -3

###### single column as a function of multiple columns
It’s sometimes useful to generate multiple DataFrame columns from a single column. It comes in handy especially when methods return tuples. 

https://stackoverflow.com/questions/13331698/how-to-apply-a-function-to-two-columns-of-pandas-dataframe?lq=1

In [ ]:
n [47]: df5 = df.copy()

In [48]: def sum_two_cols(series):
   ....:   return series['int_col'] + series['float_col']
   ....:

In [49]: df5['sum_col'] = df5.apply(sum_two_cols,axis=1)

In [50]: df5
Out[50]:
   float_col  int_col str_col  sum_col
0        0.1        1       a      1.1
1        0.2        2       b      2.2
2        0.2        6    None      6.2
3       10.1        8       c     18.1
4        NaN       -1       a      NaN

###### multiple columns as a function of multiple columns
Finally, a way to generate a new DataFrame with multiple columns based on multiple columns in an existing DataFrame. 
https://stackoverflow.com/questions/10751127/returning-multiple-values-from-pandas-apply-on-a-dataframe

In [ ]:
In [51]: import math

In [52]: def int_float_squares(series):
   ....:   return pd.Series({'int_sq' : series['int_col']**2, 'flt_sq' : series['float_col']**2})
   ....:

In [53]: df.apply(int_float_squares, axis = 1)
Out[53]:
   flt_sq  int_sq
0    0.01       1
1    0.04       4
2    0.04      36
3  102.01      64
4     NaN       1

###### Pandas Concatenation Tutorial
https://www.dataquest.io/blog/pandas-concatenation-tutorial/